.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/
/run/
/gradle/wrapper/
/src/main/resources/assets/minecraft/textures/block/
/src/main/resources/assets/minecraft/textures/block/quartz_block.png
/src/main/resources/assets/minecraft/textures/block/smooth_quartz.png
/src/main/resources/assets/minecraft/textures/block/smooth_red_sandstone.png
/src/main/resources/assets/minecraft/textures/block/smooth_sandstone.png
